* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: arial;
    font-size: 19px;
    color: rgb(55, 55, 76);
}

body {
    background-color: rgb(227, 235, 235);;
}

h1 {
    padding-bottom: 10px;
    border-bottom: 6px solid rgb(101, 158, 250);
}

h3 {
    margin-bottom: 10px;
    font-size: 85%;
    font-weight: lighter;
    text-transform: uppercase;
    color: rgb(109, 163, 250);
}

h4 {
    margin-bottom: 7px;
    font-size: 110%;
    letter-spacing: 2px;
}

p {
    margin-bottom: 15px;
    padding: 10px 0;
    font-size: 90%;
    letter-spacing: 0.3px;
    color: rgb(116, 146, 196);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.review-box {
    position: relative;
    width: 550px;
    height: 380px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px 10px rgb(205, 203, 203);
}

.headshot {
    position: relative;
    margin-bottom: 15px;
    height: 150px;
}

.box {
    margin: 0 auto;
    border-radius: 50%;
}

.box-bottom {
    position: absolute;
    left: 38%;
    width: 150px;
    height: 150px;
    background-color: rgb(101, 158, 250);
    z-index: 1;
}

.box-top {
    position: absolute;
    top: 5%;
    left: 38%;
    width: 140px;
    height: 140px;
    z-index: 2;
}

.box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.quotes::before {
    display: inline-block;
    content: "\201D";
    width: 40px;
    height: 40px;
    font-size: 80px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(101, 158, 250);
}

.quotes {
    position: absolute;
    left: 38%;
    z-index: 3;
}

.ion-icon {
    font-size: 120%;
    color: rgb(109, 163, 250);
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 2px 10px;
    border: 2px solid rgb(109, 163, 250);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(109, 163, 250);
    background-color: rgb(235, 242, 247);
    text-transform: capitalize;
}

.btn:focus {
    outline: 1px solid blue;
}